@{
    ViewData["Title"] = "503 - Service Unavailable";
}

<h1>503 - Сервис недоступен</h1>
<p>Сервер в настоящее время не может обработать ваш запрос. Пожалуйста, попробуйте еще раз позже.</p>
<p>Этот вид ошибки обычно связан с временными проблемами на сервере, такими как обслуживание, перегрузка или проблемы с доступностью. Рекомендуется подождать некоторое время и повторить запрос позже. Если проблема сохраняется, свяжитесь с администратором сайта для получения дополнительной информации.</p>