
@{
    ViewData["Title"] = "404 - Not Found";
}

<h1>404 - Страница не найдена</h1>
<p>Извините, запрашиваемая страница не может быть найдена.</p>
<p>Возможно, страница была перемещена, удалена или никогда не существовала. Пожалуйста, проверьте правильность URL-адреса и попробуйте снова.</p>

