@{
    ViewData["Title"] = "500 - Internal Server Error";
}

<h1>500 - Внутренняя ошибка сервера</h1>
<p>Произошла ошибка на сервере. Пожалуйста, попробуйте снова позже.</p>
<p>Эта ошибка может быть вызвана различными причинами, включая программные сбои, проблемы с базой данных или временные неполадки в сети. Если проблема повторяется, обратитесь к администратору сайта для получения помощи.</p>